# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#archives
.zip
.rar
.7z

# text
.atom

# images
.psd
*.cache
STAKX/.vs/STAKX/v16/.suo
*.ide-shm
*.ide-wal
STAKX/.vs/STAKX/v16/.suo
STAKX/.vs/
STAKX/bin/
STAKX/obj/
*.mdb
*pdb
images\
